@tailwind base;
@tailwind components;
@tailwind utilities;

.gjs-cv-canvas {
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

.gjs-one-bg {
	background-color: rgb(17 24 39) !important;
}

/* Secondary color for the text color */
.gjs-two-color {
	color: white !important;
}

/* Tertiary color for the background */
.gjs-three-bg {
	background-color: rgb(17 24 39) !important;
	color: white;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
	color: lightslategray;
}

.panel__previews {
	position: initial;
}
