@tailwind base;
@tailwind components;
@tailwind utilities;

.gjs-cv-canvas {
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background-color: inherit !important;

}

.gjs-one-bg {
	background-color: inherit !important;
}

/* Secondary color for the text color */
.gjs-two-color {
	color: inherit !important;
}

/* Tertiary color for the background */
.gjs-three-bg {
	background-color: inherit !important;
	color: inherit !important;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
	color: inherit !important;
}

.panel__previews {
	position: initial;
}

.gjs-pn-panels {
	display: none !important;
}

.gjs-pn-buttons {
	display: flex !important;
	flex-direction: inherit;
}
